{{- if .Values.isOpenshift }}
apiVersion: console.openshift.io/v1
kind: ConsoleCLIDownload
metadata:
  name: acm-cli-downloads
spec:
  description: |
    With the CLIs for Red Hat Advanced Cluster Management for Kubernetes (RHACM) you 
    can enhance your multicluster experience at the terminal. This includes:
    - `policytools`
        - Interact with RHACM policies locally, including resolving templates locally.
    - `PolicyGenerator`
        - Build RHACM policies from Kubernetes manifest YAML files, which are 
          provided through a `PolicyGenerator` manifest YAML file that is used to 
          configure it. The Policy Generator is implemented as a Kustomize generator 
          plug-in, allowing integration with GitOps.
  displayName: Advanced Cluster Management - {{ .Values.acmVersion }}
  links:
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/linux-amd64-policytools
      text: Download policytools for Linux for x86_64
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/darwin-amd64-policytools
      text: Download policytools for Mac for x86_64
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/windows-amd64-policytools.exe
      text: Download policytools for Windows for x86_64
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/linux-amd64-PolicyGenerator
      text: Download PolicyGenerator for Linux for x86_64
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/darwin-amd64-PolicyGenerator
      text: Download PolicyGenerator for Mac for x86_64
    - href: https://acm-cli-downloads.{{ .Values.ingress.domain }}/windows-amd64-PolicyGenerator.exe
      text: Download PolicyGenerator for Windows for x86_64
{{- end }}
